<% 
  is_new = @task.new_record?
  is_creator = is_new || (@task.user_id == current_user.id)
  is_assignee = @task.assignee_id == current_user.id
%>

<%= form_with model: @task do |f| %>

  <div>
    <%= f.label :title, "タスク名" %>
    <%= f.text_field :title, readonly: !is_creator %>
    <% if @task.errors[:title].any? %>
      <%= @task.errors.full_messages_for(:title).first %>
    <% end %>
  </div>

  <div>
    <%= f.label :assignee_id, "担当者" %>
    <%= f.collection_select :assignee_id, User.all, :id, :name,
        {include_blank: "担当者を選択" }, { disabled: !is_creator }%>
  </div>

  <div>
    <%= f.label :status, "ステータス" %>
    <%= f.select :status, Task::STATUSES, {}, { disabled: !(is_creator || is_assignee) } %> 
    <% if @task.errors[:status].any? %>
      <%= @task.errors.full_messages_for(:status).first %>
    <% end %>
  </div>

  <div>
    <%= f.label :priority, "優先度" %>
    <% if is_creator %>
      <%= f.select :priority, Task::PRIORITIES %>
    <% else %>
      <%= f.text_field :priority, readonly: true %>
    <% end %>
    <% if @task.errors[:priority].any? %>
      <%= @task.errors.full_messages_for(:priority).first %>
    <% end %>
  </div>

  <div>
    <%= f.label :estimated_minutes, "所要時間(分)" %>
    <%= f.number_field :estimated_minutes, min: 0,  step:5, readonly: !(is_creator || is_assignee) %>
    <% if @task.errors[:estimated_minutes].any? %>
      <%= @task.errors.full_messages_for(:estimated_minutes).first %>
    <% end %>
  </div>

  <div>
    <%= f.label :due_date, "期限日" %>
    <%= f.date_field :due_date, readonly: !is_creator %>
  </div>

  <div>
    <%= f.label :assigned_date,"割当日" %>
    <%= f.date_field :assigned_date, readonly: !is_creator %>
  </div>

  <% unless is_new %>
    <div>
      <%= f.label :has_missing_docs, "不足書類" %>
      <%= f.check_box :has_missing_docs, disabled: !(is_creator || is_assignee) %>
      <% if @task.errors[:has_missing_docs].any? %>
        <%= @task.errors.full_messages_for(:has_missing_docs).first %>
      <% end %>
    </div>

    <div>
      <%= f.label :missing_doc_memo, "不足内容" %>
      <%= f.text_area :missing_doc_memo, readonly: !(is_creator || is_assignee) %>
      <% if @task.errors[:missing_doc_memo].any? %>
        <%= @task.errors.full_messages_for(:missing_doc_memo).first %>
      <% end %>
    </div>

    <div>
      <%= f.label :assignee_id, "不足書類の担当者" %>
        <%= f.collection_select :assignee_id,User.all, :id, :name,
           { include_blank: "担当者を選択（依頼する場合）" }, readonly: !(is_creator || is_assignee) %>
        <% if @task.errors[:missing_doc_requested_to].any? %>
        <%= @task.errors.full_messages_for(:missing_doc_requested_to).first %>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :comment, "備考欄" %>
    <%= f.text_area :comment, readonly: !(is_creator || is_assignee) %>
    <% if @task.errors[:comment].any? %>
      <%= @task.errors.full_messages_for(:comment).first %>
    <% end %>
  </div>

  <div>
    <%= f.submit @task.new_record? ? "タスクを登録" : "タスクを更新" %>
  </div>
<% end %>