<div class="bg-teal-50 flex min-h-screen items-center justify-center pb-14">
  <div class="bg-white p-7 rounded-lg shadow-lg w-full max-w-md">
    <h2 class="text-center mb-10 font-bold text-lg text-slate-800">パスワードをお忘れですか？</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="block mb-6 w-full">
        <%= f.label :email, "ご登録のメールアドレス", class: "block w-[85%] mx-auto mb-2 font-semibold text-left text-slate-600 text-sm" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            class: "block w-[85%] mx-auto p-3 rounded-lg text-base border border-slate-200 outline-none focus:border-green-600 focus:shadow-md" %>
      </div>

      <div class="flex justify-center w-full mt-8">
        <%= f.submit "パスワード再設定メールを送信", 
            class: "w-[85%] p-3.5 rounded-lg bg-teal-500 text-white font-bold border-none text-base shadow-md hover:bg-teal-400" %>
      </div>

    <% end %>

    <div class="mt-5 text-center text-gray-600 text-sm">
      <%= link_to "ログインに戻る", new_session_path(resource_name), class: "text-teal-500 font-bold ml-0.5 hover:underline" %>
    </div>
  </div>
</div>
