<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Task App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless devise_controller? %>
      <div class="flash-messages">
        <% flash.each do |type, message| %>
          <div class="flash-item <%= type %>"><%= message %></div>
        <% end %>
      </div>
    <% end %>

    <header class="main-header">
      <div class="header-container">
        <%= link_to "TaskApp", root_path, class: "header-logo" %>

        <nav class="header-nav">
          <% if user_signed_in? %>
            <div class="header-dropdown">
              <button class="dropdown-trigger">
                <i class="fa-solid fa-circle-user"></i><span class="user-name"><%= current_user.name %></span> さん
                <i class="fa-solid fa-chevron-down arrow-icon"></i>
              </button>
          
              <div class="dropdown-content">
                <%= link_to "作成したタスク一覧", created_tasks_path, class: "dropdown-item" %>
                <%= link_to "アカウント設定", edit_user_registration_path, class: "dropdown-item" %>
                <hr class="dropdown-divider">
                <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item logout-link" %>
              </div>
            </div>
          <% else %>
          <% end %>
        </nav>
      </div>
    </header>

    <main class="main-content">
      <%= yield %>
    </main>
  </body>
</html>
